h1 {
    text-align: center;
    padding: 10px;
}

.content {
    padding-left: 10px;
}

.wa {
    font-family: "Yuji Syuku", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh; 
}

.sidebar{
    float:left;
    width:30%;
    margin:10px 0 10px 0;
}

.content{
    float:left;
    width:70%;
    margin:10px 0 10px 0;
}

.sidebar {
    width: 200px; 
    background-color: #36454F; 
    color: #fff; 
    padding: 20px;
    box-sizing: border-box; 
    flex-shrink: 0;
}

.sidebar h1 {
    font-size: 1.8em;
    border-bottom: 2px solid #5C707F; 
    padding-bottom: 10px;
    margin-top: 0;
}

.sidebar ul {
    list-style: none; 
    padding: 0;
    margin: 20px 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar li a { 
    color: #fff; 
    text-decoration: none; 
    display: block;
    padding: 5px 0;
    transition: background-color 0.3s ease;
}

.sidebar li a:hover {
    background-color: #5C707F;
    border-radius: 3px; 
}

.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  opacity: 0.4;
  z-index: -1;
}
.Polka_v2 {
  background-image:  radial-gradient(#ffc107 2px, transparent 2px), radial-gradient(#ffc107 2px, #ffe7b8 2px);
  background-size: 40px 40px;
  background-position: 0 0,20px 20px;
}