h1 {
    text-align: center;
    background-color: rgb(196, 195, 195);
    color: black;
    border-left: 10px solid;
    border-color: crimson;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 90%;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }
    th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    }
    th {
    background-color: #ffcc66;
    }
    tr:nth-child(even) {
    background-color: #f9f9f9;
    }